{% extends "dash/base.html" %}

{% block page_title %}
{{ g.node.name }}
{% endblock %}

{% block page_body %}
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<h2>Listening on:</h2>
			<table class="table table-striped table-hover ">
				<tbody>
					{% for address, server in g.node.servers.items() %}
					<tr class="{% if server.sockets %}success{% else %}danger{% endif %}">
						<td>{{ address }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		
			<h2>Peers:</h2>
			<div class="panel panel-default">
  				<div class="panel-body">
					<div class="row">
						<div class="col-xs-4">Status:</div>
						<div class="col-xs-1">
							<span class="glyphicon glyphicon-{% if g.node.peers.values()|filtercount('is_connected') == g.node.peers|length %}ok{% else %}flash{% endif %}"></span>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">Connections:</div>
						<div class="col-xs-1">
							{{ g.node.peers|length }}
						</div>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>ID</th>
						<th>Addresses</th>
					</tr>
				</thead>
				<tbody>
					{% for name, peer in g.node.peers|dictsort() %}
					<tr class="{% if peer.is_connected %}success{% else %}danger{% endif %}">
						<td>{{ peer.name }}</td>
						<td>{{ peer.addresses|join(', ') }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-lg-6">
			<h2>Data transfer:</h2>
			{% import "net/rates.html" as rates %}
			<div class="panel panel-default">
  				<div class="panel-body">
					{{ rates.rates(g.node) }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
