{% extends "dash/base.html" %}

{% block page_title %}
Cassandra dashboard
{% endblock %}

{% block page_body %}
<div class="container">
	<div class="row">
		<h2>Metrics</h2>
		<p>from {{ metric_provider_count-1 }} workers + 1 driver</p> 
		
		{% for cluster, metrics in metrics|dictsort %}
		{% set requests=metrics.request_timer %}
		<h3>{{ cluster }}</h3>
		
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="col-md-4">
						<table class="table table-hover table-condensed">
							<tbody>
								<tr>
									<th><h4>Requests</h4></th>
									<td width="25%"></td>
								</tr>
								<tr>
									<th>Count</th>
									<td>{{ requests.count }}</td>
								</tr>
							</tbody>
						</table>
								
						<table class="table table-hover table-condensed">
							<tbody>
								<tr>
									<th><h4>Connections</h4></th>
									<td width="25%"></td>
								</tr>
								<tr>
									<th>Known hosts</th>
									<td>
										{% if metrics.known_hosts % 1 == 0 %}
											{{ metrics.known_hosts|int }}
										{% else %}
											{{ metrics.known_hosts }}
											<span class="glyphicon glyphicon-flash"></span>
										{% endif %}
									</td>
								</tr>
								<tr>
									<th>Hosts connected to</th>
									<td>
										{% if metrics.connected_to % 1 == 0 %}
											{{ metrics.connected_to|int }}
										{% else %}
											{{ metrics.connected_to }}
											<span class="glyphicon glyphicon-flash"></span>
										{% endif %}
									</td>
								</tr>
								<tr>
									<th>Open connections</th>
									<td>
										{% if metrics.open_connections % 1 == 0 %}
											{{ metrics.open_connections|int }}
										{% else %}
											{{ metrics.open_connections }}
											<span class="glyphicon glyphicon-flash"></span>
										{% endif %}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
								
					<div class="col-md-4">
						<table class="table table-hover table-condensed">
							<tbody>
								<tr>
									<th><h4>Errors</h4></th>
									<td width="25%"></td>
								</tr>
								<tr class="{{ 'danger' if metrics.connection_errors else '' }}">
									<th>Connection errors</th>
									<td>{{ metrics.connection_errors }}</td>
								</tr>
								<tr class="{{ 'danger' if metrics.write_timeouts else '' }}">
									<th>Write timeouts</th>
									<td>{{ metrics.write_timeouts }}</td>
								</tr>
								<tr class="{{ 'danger' if metrics.read_timeouts else '' }}">
									<th>Read timeouts</th>
									<td>{{ metrics.read_timeouts }}</td>
								</tr>
								<tr class="{{ 'danger' if metrics.unavailables else '' }}">
									<th>Unavailable</th>
									<td>{{ metrics.unavailables }}</td>
								</tr>
								<tr class="{{ 'danger' if metrics.other_errors else '' }}">
									<th>Other errors</th>
									<td>{{ metrics.other_errors }}</td>
								</tr>
								<tr class="{{ 'warning' if metrics.retries else '' }}">
									<th>Requests retried</th>
									<td>{{ metrics.retries }}</td>
								</tr>
								<tr class="{{ 'warning' if metrics.ignores else '' }}">
									<th>Errors ignored</th>
									<td>{{ metrics.ignores }}</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="col-md-4">
						<table class="table table-hover table-condensed">
							<tbody>
								<tr>
									<th><h4>Request latency</h4></th>
									<td width="25%"></td>
								</tr>
								<tr>
									<th>Mean</th>
									<td>{{ requests.mean|fmt_timedelta }}</td>
								</tr>
								<tr>
									<th>Standard deviation</th>
									<td>{{ requests.stddev|fmt_timedelta }}</td>
								</tr>
								<tr>
									<th>Minimum</th>
									<td>{{ requests.min|fmt_timedelta }}</td>
								</tr>
								<tr>
									<th>75th percentile (max)</th>
									<td>{{ requests['75percentile']|fmt_timedelta }}</td>
								</tr>
								<tr>
									<th>95th percentile (max)</th>
									<td>{{ requests['95percentile']|fmt_timedelta }}</td>
								</tr>
								<tr>
									<th>98th percentile (max)</th>
									<td>{{ requests['98percentile']|fmt_timedelta }}</td>
								</tr>
								<tr>
									<th>99th percentile (max)</th>
									<td>{{ requests['99percentile']|fmt_timedelta }}</td>
								</tr>
								<tr>
									<th>999th percentile (max)</th>
									<td>{{ requests['999percentile']|fmt_timedelta }}</td>
								</tr>
								<tr>
									<th>Maximum</th>
									<td>{{ requests.max|fmt_timedelta }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
			{% endfor %}
	</div>
</div>
{% endblock %}
