{% extends "dash/base.html" %}

{% import 'execute/stats_row.html' as stats_row %}

{% block page_title %}
Job {{ job.id }}: {{ job.name }}
{% endblock %}


{% block page_body %}
<style type="text/css">
	pre {
		color: white;
		background-color: rgba(255, 255, 255, 0.1);
	    border: none;
	}
</style>

<div class="container">
	{% set file, line, func, text = job.desc %}
	<pre>{{ text }}</pre>
	Invoked line {{ line }} of {{ file }} in {{ func }}
	<hr />
</div>

<div class="container">
	<h2>Task groups:</h2>
	<table class="table table-hover ">
		<thead>
			<tr>
				<th width="3%">#</th>
				<th width="17%">Group</th>
				<th width="12%">
					<span data-toggle="tooltip" data-original-title="Completed, running and total number of tasks">Tasks</span>
				</th>
				<th width="26%">
					<span data-toggle="tooltip" data-original-title="Completed, running and total number of tasks">Progress</span>
				</th>
				<th width="8%">Duration</th>
				<th width="8%">Remaining</th>
				<th width="13%">Started</th>
				<th width="13%">Finished / ETA</th>
			</tr>
		</thead>
		<tbody>
		{% for group in job.tasks|rejectattr('group', 'equalto', 'hidden')|groupby('group')|reverse %}
		<tr class="clickable {{ ' active' if group.running_on else '' }}" data-href='group/{{ group.grouper }}'>
			<td>{{ group.grouper }}</td>
			<td>{{ (group.list|first).name }}</td>
			{{ stats_row.stats_row(group, group.list|task_stats) }}			
		</tr>
		{% endfor %}
		</tbody>
	</table>
	<hr />
</div>
{% endblock %}
