{% macro stats_row(tasklist, stats) -%}
	<td>
		{{ stats.completed }} {% if stats.running %} + {{ stats.running }} {% endif %} / {{ stats.tasks|length }}
		&nbsp;
		{% if stats.failed %}
		<span class="glyphicon glyphicon-flash"></span>
		{% endif %}
	</td>
	<td>
		{% if stats.tasks %}
		{% set completed = (stats.completed * 100 / stats.total) %}
		<div class="progress{{ ' progress-striped' if stats.running else '' }}" style="width: 100%; margin: 0;">
		  <div class="progress-bar progress-bar-success" style="width: {{ completed }}%">{% if completed > 10 %}{{ completed|round(0)|int }}%{% endif %}</div>
		  <div class="progress-bar" style="background-color: rgba(20, 20, 20, .2); width: {{ stats.cancelled * 100 / stats.total }}%"></div>
		  <div class="progress-bar progress-bar-default" style="{% if stats.running %}min-width: 5px;{% endif %} width: {{ (stats.running) * 100 / stats.total }}%"></div>
		  <div style="text-align: center;"></div>
		</div>
		{% endif %}
	</td>
	<td>{{ stats.duration|fmt_timedelta }}</td>
	<td>{% if stats.time_remaining %}{{ stats.time_remaining|fmt_timedelta }}{% endif %}</td>
	<td>{{ tasklist.started_on.strftime('%Y-%m-%d %H:%M:%S') if tasklist.started_on else '' }}</td>
	<td>{{ stats.finished_on.strftime('%Y-%m-%d %H:%M:%S') if stats.finished_on else '' }}</td>
{%- endmacro %}