<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	
	<title>{% block title %}BNDL{% endblock %}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css" />
	
	{% block css %}
	<style type="text/css">
		.clickable {
			cursor: pointer;
		}
		
		.progress-bar {
			overflow-x: hidden;
		}
		
		.page {
			margin-bottom: 2em;
		}
	</style>
	{% endblock %}
</head>

<body>

	{% block nav %}
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#thenavbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">BNDL</a>
			</div>

			<div class="collapse navbar-collapse" id="thenavbar">
				<ul class="nav navbar-nav">
					{% for key in g.dashes %}
					<li class="{% if key == current_dash %}active{% endif %}">
						<a href="/{{ key }}">{{ key }} <span class="sr-only">(current)</span></a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>
	{% endblock %}
	
	{% block page %}
	<div class="page">
		{% block page_header %}
		<div class="page-header">
			<div class="container">
				<h1>{% block page_title %}BNDL dashboard{% endblock %}</h1>
			</div>
		</div>
		{% endblock %}
	
		<div class="page-body">
		{% block page_body %}
		{% endblock %}
		</div>
	</div>
	{% endblock %}

	{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function($) {
			$('[data-toggle="tooltip"]').tooltip()
					
			$(".clickable").click(function() {
				window.document.location = $(this).data("href");
			});
		});
	</script>
	{% endblock %}
</body>

</html>